

<mat-card style="border-left: 4px solid #454f59;margin:1em;" *ngIf="!birdsApi">
  <mat-icon style="font-size:1.2rem;margin-bottom:-8px;">info</mat-icon> There are no events scheduled for today<p>Next scheduled event is for {{eagles.team.nextEvent[0].competitions[0].status.type.detail}}</p>
</mat-card>

<mat-tab-group *ngIf="birdsApi">

    <mat-tab label="Team Stats"> 
        <mat-list>
            <mat-list-item>Record: {{eagles.team.record.items[0].summary}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Division: {{eagles.team.standingSummary}}</mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item *ngFor="let link of eagles.team.links" [hidden]="link.shortText == 'photos' || link.shortText == 'Clubhouse' || link.shortText == 'Draft Picks' || link.shortText == 'Scores'">

              <mat-icon class="link-icon">open_in_new</mat-icon><a class="link" (click)="open(link.href, link.shortText, 1060, 720)">{{link.shortText}}</a>

            </mat-list-item>

          </mat-list>
      
      
    </mat-tab>

    <mat-tab label="Event Stats"> 
      <mat-list>
        <mat-list-item>[{{eagles.competitions[0].status.type.shortDetail}}] {{eagles.competitions[0].competitors[1].team.abbreviation + ": " + eagles.competitions[0].competitors[1].score + " @ " + eagles.competitions[0].competitors[0].team.abbreviation + ": " + eagles.competitions[0].competitors[0].score}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Venue: {{eagles.competitions[0].venue.fullName}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Attendance/Capacity: {{eagles.competitions[0].attendance + "/" + eagles.competitions[0].venue.capacity}}</mat-list-item>
      </mat-list>
    </mat-tab>

  </mat-tab-group>

  