.side-nav{
    width:300px;
}

.nav{
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    opacity:0.8;
}

#main-container{
    margin-top:2em;
    margin-left: 8em;
    margin-right: 8em;
    
}

@media screen and (max-width: 900px) {
    #main-container {
      margin:0;
    }
  }

  footer{
    background: #1a3243;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding:1.3em;
    opacity:0.8;
    font-size:0.9rem;
    text-align: right;
  }

  .info{
    background: rgba(112, 128, 144, 0.699);
    max-height:45px;
    overflow-x: hidden;
    overflow-y: hidden;
  }