.side-nav{
    width:300px;
}

.nav{
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    user-select: none;
}

#main-container{
    margin-top:2em;
    margin-left: 8em;
    margin-right: 8em;
    
}

@media screen and (max-width: 900px) {
    #main-container {
      margin:0;
    }
    .top-nav-btns{
      display: none;
    }
  }

  .app-container{
    min-height: 69vh;
    padding:1.3em;
  }

  @media only screen and (max-width: 768px) {
    .app-container{
      min-height: calc(100vh - 105px);
      padding: unset !important;
    }
  }

