<div id="main-container">
<mat-toolbar color="primary" class="nav">
    <mat-toolbar-row>
      <button mat-icon-button style="margin-right:0.5em;">
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1 style="margin-right:1em;">Molexee_</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/home'" style="margin-right:0.5em;"> <mat-icon style="margin-right: 2px;font-size:1.1rem;margin-bottom: -6px;">home</mat-icon> Home </a>
        <a mat-button [routerLink]="'/video'" style="margin-right:0.5em;"> <mat-icon style="margin-right: 2px;font-size:1.1rem;margin-bottom: -6px;">live_tv</mat-icon> Video </a>
      </div>
</mat-toolbar-row>
  
    <mat-toolbar-row class="info">
      <mat-icon style="font-size:1rem;margin-bottom:-8px;margin-right:-2px;">info</mat-icon> <span style="font-size: 12px;">LOCAL PHILADELPHIA ACCESS TV STATIONS AND REDZONE SO PROBABLY ILLEGAL IDK SORRY</span>
      </mat-toolbar-row>
      
  </mat-toolbar>

  <mat-sidenav-container hasBackdrop="true">
    <mat-sidenav #sidenav mode="push" class="side-nav">
      <mat-nav-list>
  
        <a mat-list-item [routerLink]="'/home'"> <mat-icon style="margin-right:0.5em;">home</mat-icon> Home </a>
        <a mat-list-item href="" [routerLink]="'/video'"> <mat-icon style="margin-right:0.5em;">live_tv</mat-icon> Video </a>
        <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Close</a>
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="min-height: 69vh;padding:1.3em;">
  
        <router-outlet></router-outlet>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <footer>&copy; NFL, &copy; MLB, &copy; FOX, &copy; CBS, &copy; MY DAD, &copy; NBC, &copy; COMCAST SPORTSNET</footer>
</div>


