
<div class="row">

<div class="column" *ngFor="let article of allNews.articles">
  <mat-card class="news-card" (click)="open(article.links.web.href, article.type, 1500, 1000)">
    <mat-card-header>
      <div mat-card-avatar class="news-header-image"></div>
      <mat-card-title>{{article.headline}}</mat-card-title>
      <mat-card-subtitle>ESPN</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{article.images[0].url}}" alt="{{article.images[0].name}}">
    <mat-card-content>
      <p>
        {{article.description}}
      </p>
    </mat-card-content>
    <mat-card-footer>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-card-footer>
  </mat-card>
</div>



</div>