<h1>Welcome friends!</h1>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>molex.</mat-card-title>
      <mat-card-subtitle>The Lizard King</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://media.istockphoto.com/photos/retro-television-and-wallpaper-picture-id502584453?k=20&m=502584453&s=612x612&w=0&h=cOQIDQlA1Hx3hbI2uDFnYjdmvYJUoRkeqkpO5pWWP2g=" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Big networks like ABC, CBS, FOX and NBC have local affiliates that are region-specific. These local networks air plenty of live games from pro leagues like the NFL, NBA, MLB, and NHL. You can also find a good amount of college games on local networks. 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="'/video'">WATCH SPORTS NOW</button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-card-footer>
  </mat-card>
  